@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h3> Add a New Machine</h3>
<hr />
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm()) 
{
    <div class="form-group">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { @class="form-control" }) <br/>
      @Html.LabelFor(model => model.Description) 
      @Html.TextBoxFor(model => model.Description, new { @class="form-control mb-3" })
      <input type="submit" value="Add new Machine" class="btn-primary form-control" />
    </div>
    
}


<p>@Html.ActionLink("Show all Machines", "Index")</p>