@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Assign Machine to Engineer</h2>

<h4>Selected Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    if(ViewBag.Machines.Count != 0)
    {
      
      @Html.DropDownList("MachineId", "- - - -")
      <input type="submit" value="Save" />
    }
    else
    {
      @Html.ActionLink("No Machines Available. Click to Add", "Create", "Machines")
    }
    
}

<p>@Html.ActionLink("Back to Engineer List", "Index")</p>