@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h4> Add a New Engineer</h4>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.ContactNumber)
    @Html.EditorFor(model => model.ContactNumber)
    @Html.LabelFor(model => model.LicenseExpiry)
    @Html.EditorFor(model => model.LicenseExpiry)
    @Html.DropDownList("LocationId");
    <input type="submit" value="Add new Engineer" />
}


<p>@Html.ActionLink("Show all Engineers", "Index")</p>