@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h4> Add a New Engineer</h4>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm()) 
{
  <div class="form-group">
    <div class="mb-3 row">
      @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label" })
      <div class="col-sm-6">
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new { @class = "form-control" }})
      </div>  
    </div>
    <div class="mb-3 row">
      @Html.LabelFor(model => model.ContactNumber, new { @class = "col-sm-2 col-form-label" })
      <div class="col-sm-6">@Html.EditorFor(model => model.ContactNumber, new {htmlAttributes = new { @class = "form-control" }})</div>
    </div>
    <div class="mb-3 row">
      @Html.LabelFor(model => model.LicenseExpiry, new { @class = "col-sm-2 col-form-label" })
      <div class="col-sm-6">@Html.EditorFor(model => model.LicenseExpiry, new {htmlAttributes = new { @class = "form-control" }})</div>
    </div>
    <div class="mb-3 row">
      @Html.LabelFor(model => model.Location, new { @class = "col-sm-2 col-form-label" })
      <div class="col-sm-6">@Html.DropDownList("LocationId", (IEnumerable<SelectListItem>)ViewBag.LocationId, "Please Select", new { @class = "form-control"})</div>    
    </div>
    <input type="submit" value="Save" class="btn btn-primary"/>
  </div>
}


<p>@Html.ActionLink("Show all Engineers", "Index")</p>