@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Edit</h2>
<hr />
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Update Engineer: @Html.DisplayFor(model => model.Name)</h4>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group">
  @Html.HiddenFor(model => model.EngineerId)
  <div class="mb-3 row">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-6">
      @Html.EditorFor(model => model.Name, new {htmlAttributes = new { @class = "form-control" }})
    </div>  
  </div>
  <div class="mb-3 row">
    @Html.LabelFor(model => model.ContactNumber, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-6">@Html.EditorFor(model => model.ContactNumber, new {htmlAttributes = new { @class = "form-control" }})</div>
  </div>
  <div class="mb-3 row">
    @Html.LabelFor(model => model.LicenseExpiry, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-6">@Html.EditorFor(model => model.LicenseExpiry, new {htmlAttributes = new { @class = "form-control" }})</div>
  </div>
  <div class="mb-3 row">
    @Html.LabelFor(model => model.Location, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-6">@Html.DropDownList("LocationId", (IEnumerable<SelectListItem>)ViewBag.LocationId, "Please Select", new { @class = "form-control"})</div>    
  </div>
  <input type="submit" value="Save" class="btn btn-primary"/>
</div>
}

<p>@Html.ActionLink("Back to list", "Index")</p>