@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Edit</h2>

<h4>Update Engineer: @Html.DisplayFor(model => model.Name)</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.ContactNumber)
  @Html.EditorFor(model => model.ContactNumber)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>