@{
  Layout = "_Layout";
}

@using Factory.Models


<h1>Welcome to the To Do List!</h1>

<div class="d-flex">
  <div class="w-50">
    <h2>Engineers</h2>
    <ul>

      @foreach (Engineer engineer in Model.Engineers)
      {
        <li>
          @Html.ActionLink(engineer.Name, "Details", "Engineers", new { id = engineer.EngineerId }, null)
        </li>
      }
    </ul>
    @if (Model.Engineers.Count == 0)
    {
      @Html.ActionLink("No Engineers Available. Click to Add", "Create", "Engineers")
    }
    else
    {
      @Html.ActionLink("See all Engineers", "Index", "Engineers")
    }

  </div>
  <div class="w-50">
    <h2>Machines</h2>
    <ul>
      @foreach (Machine machine in Model.Machines)
      {
        <li>
          @Html.ActionLink(machine.Name, "Details", "Machines", new { id = machine.MachineId }, null)
        </li>
      }
      @if (Model.Machines.Count == 0)
      {
        @Html.ActionLink("No Machines Available. Click to Add", "Create", "Machines")
      }
      else
      {
        @Html.ActionLink("See all Machines", "Index", "Machines")
      }
    </ul>    
  </div>
</div>
